<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="/js/main.js"></script>
  </head>
  <body>
    <h1>Maze Solver</h1>
    <div id="maze_container">
      <div class="button_column">
        <button id="1" class="mazes">Maze 1</button>
        <button id="2" class="mazes">Maze 2</button>
        <button id="3" class="mazes">Maze 3</button>
        <button id="4" class="mazes">Maze 4</button>
        <button id="5" class="mazes">Maze 5</button>
        <button id="6" class="mazes">Maze 6</button>
      </div>
      <div id="maze_column">
        <textarea id="selected">#####################################
# #   #     #A        #     #       #
# # # # # # ####### # ### # ####### #
# # #   # #         #     # #       #
# ##### # ################# # #######
#     # #       #   #     # #   #   #
##### ##### ### ### # ### # # # # # #
#   #     #   # #   #  B# # # #   # #
# # ##### ##### # # ### # # ####### #
# #     # #   # # #   # # # #       #
# ### ### # # # # ##### # # # ##### #
#   #       #   #       #     #     #
#####################################</textarea>
      </div>
      <div id="solve_column">
        <button id="solve">Solve</button>
      </div>
      <h3 id="steps"></h3>
      <div id="canvas">
        <canvas id="maze_solution" width="800" height="800" style="margin-top: 20px;">Your browser does not support HTML5 :(</canvas>
      </div>
    </div>
  </body>
</html>
