body {
  font-family: monaco;
}

h1 {
  width: 220px;
  margin: 40px auto;
  font-size: 32px;
}

h3 {
  width: 360px;
  margin: 30px auto 0 auto;
  font-size: 19px;
}


textarea {
  font-family: monaco;
  font-size: 12px;
  height: 205px;
  width: 270px;
  overflow: hidden;
}

textarea.maze {
  margin-left: 40px;
}

button {
  display: inline-block;
  height: 40px;
  width: 100px;
  margin-left: 207px;
}

.first {
  margin-left: 189px;
}
#canvas {
  width: 741px;
  margin: auto;
}

#maze_row {
  width: 928px;
  margin: auto;
  padding: 20px;
}

#button_row {
  width: 1109px;
  margin: auto;
}